<div class="container p-3 mt-5  p-3 col-md-8 col-lg-6">
  <div>
    <h4 class="text-center" >Log In</h4>
  </div>
  <%= form_with(url: login_path, scope: :session, local: true )do |form| %>

    <div class="mb-3">
      <%= form.label :email, class: 'form-label' %>
      <%= form.email_field :email, class: 'form-control   primary-font-size' %>
    </div>
    <div class="mb-3">
      <%= form.label :password, 'Password', class: 'form-label' %>
      <%= form.password_field :password, class: 'form-control   primary-font-size' %>
    </div>
    <div class="mb-3 form-check">
      <%= form.check_box :remember_me, class: "form-check-input" %>
     
      <%= form.label :remember_me, class: "form-check-label" %>
    </div>
    <%= submit_tag 'Log In', class: "btn btn-primary w-100   primary-font-size" %>

  <% end %>

  <p class="mt-1">
    <span>Don't have an Account?</span>
    <span><%= link_to 'Sign Up!', sign_up_path, class: 'text-decoration-none' %></span>
  </p>
</div>
