<%= render partial: 'orders/order_summary', locals: { order: @order } %>
<section class="container-fluid mt-3">
  <%= form_with url: checkout_path, scope: :shipping, local: true do |form|  %>
    <%= form.hidden_field :order_id, value: @order.id %>
    <div class="mb-2">
      <%= form.label :name, class: 'form-label' %>
      <%= form.text_field :name, class: 'form-control' %>
    </div>
    <div class="mb-2">
      <%= form.label :email, class: 'form-label' %>
      <%= form.email_field :email, class: 'form-control' %>
    </div>
    <div class="mb-2">
      <%= form.label :street, class: 'form-label' %>
      <%= form.text_field :street, class: 'form-control' %>
    </div>
    <div class="mb-2">
      <%= form.label :city, class: 'form-label' %>
      <%= form.text_field :city, class: 'form-control' %>
    </div>
    <%= submit_tag 'Email My Order', class: 'btn w-100 bg-primary text-light p-1 mb-1' %>
  <% end %>
  
</section>