<%= turbo_frame_tag order_item do %>
  <div class="col-12 mx-auto mx-sm-0 my-2 border-bottom">
    <div class= "p-2  col-12 d-flex flex-wrap order_item " >
      <div class="col-3 col-lg-2 p-0">
        <%= image_tag order_item.sneaker.image_url, class: "img-fluid" %>
      </div>
      <div class="col-8 d-flex flex-column">
        <span class="align-self-end">
          <%= link_to order_item, method: :delete, class: "text-danger" do %>
            <i class="bi bi-trash"></i>
          <% end %>
        </span>
        <span class="px-2 text-center"><%= order_item.sneaker.name %></span>
        <span class="px-2 text-center">Unit Price: $<%= order_item.sneaker.price %></span>
      </div>
      <div class="col-3 d-flex mt-1 p-0">

        <%= link_to order_item_path(order_item, quantity: order_item.quantity - 1), method: :put, class: "border text-black col-4 col-lg-2 p-0 text-center" do %>
          <i class="bi bi-dash"></i>
        <% end %>
        
        <span class="border-top border-bottom bg-light col-4 col-lg-2 p-0 text-center"><%= order_item.quantity %></span>
        <%= link_to order_item_path(order_item, quantity: order_item.quantity + 1), method: :put, class: "border text-black col-4 p-0 text-center col-lg-2" do %>
          <i class="bi bi-plus"></i>
        <% end %>
      </div>
      <div class="col-8 text-end mt-1">
        <span>Subtotal:</span>
        <span>$<%= order_item.sub_total %></span>
      </div>
    </div>
  </div>
<% end %>
