<div class="row pb-2 border-bottom">
  <div class="col-4 p-0">
    <%= image_tag order_item.sneaker.image_url, class: "img-fluid" %>
  </div>
  <div class="col-8 d-flex flex-column">
    <span class="align-self-end">
      <%= link_to order_item, method: :delete, class: "text-danger" do %>
        <i class="bi bi-trash"></i>
      <% end %>
    </span>
    <span class=""><%= order_item.sneaker.name %></span>
    <span>Unit Price: $<%= order_item.sneaker.price %></span>
  </div>
  <div class="col-4 d-flex mt-1 p-0">
    <span class="border col-4 p-0 text-center">
      <i class="bi bi-dash"></i>
    </span>
    <span class="border-top border-bottom bg-light col-4 p-0 text-center">1</span>
    <span class="border col-4 p-0 text-center">
      <i class="bi bi-plus"></i>
    </span>
  </div>
  <div class="col-8 text-end mt-1">
    <span>Subtotal:</span>
    <span>$<%= order_item.sub_total %></span>
  </div>
</div>