<div class="container-fluid pt-3 pb-4 col-md-6">
  <h3 class="connect-title text-center position-relative fw-normal primary-font-size">Sneakers</h3>
  <div class="dropdown mt-4 border rounded ">
    <button class="btn w-100 dropdown-toggle d-flex justify-content-between align-items-center  primary-font-size" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
      <div>
        <span>Sort By</span>
        <span class="ms-2">-</span>
        <span class="ms-2"><%= sort_option %></span>
      </div>
    </button>
    <ul class="dropdown-menu w-100 primary-font-size" aria-labelledby="dropdownMenuButton1">
      <li>
        <%= link_to 'All Sneakers', sneakers_path, class: 'dropdown-item', "data-turbo-action": "advance"%>
      </li>
      <li>
        <%= link_to 'Increasing Price', sneakers_path({'sort-by': 'increasing_price'}), class: 'dropdown-item', "data-turbo-action": "advance" %>
      </li>             
      <li>
        <%= link_to 'Decreasing Price', sneakers_path({'sort-by': 'decreasing_price'}), class: 'dropdown-item', "data-turbo-action": "advance" %>
      </li>
      <li>
        <%= link_to 'Release Date', sneakers_path({'sort-by': 'release_date'}), class: 'dropdown-item', "data-turbo-action": "advance" %>
      </li>
      
    </ul>
  </div>
</div>
<section data-controller="infinite-scroll">
  <div class="d-flex flex-wrap secondary-bg container-fluid py-1" data-infinite-scroll-target="entries" data-action="scroll@window->infinite-scroll#scroll">
    <%= render partial: 'sneakers/sneaker', collection: sneakers  %>
  </div>
  <div data-infinite-scroll-target="pagination" class="d-none">
    <%== pagy_bootstrap_nav(pagy) %>
  </div>
</section>