<div class="container-fluid pt-3 pb-4">
  <h3 class="connect-title text-center position-relative fw-normal">Sneakers</h3>
  <div class="dropdown mt-4 border rounded ">
    <button class="btn w-100 dropdown-toggle d-flex justify-content-between align-items-center" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
      <div>
        <span>Sort By</span>
        <span class="ms-2">-</span>
        <span class="ms-2"><%= @sort_option %></span>
      </div>
    </button>
    <ul class="dropdown-menu w-100" aria-labelledby="dropdownMenuButton1">
      <li>
        <%= link_to 'All Sneakers', sneakers_path, class: 'dropdown-item' %>
      </li>
      <li>
        <%= link_to 'Increasing Price', sneakers_path({'sort-by': 'increasing_price'}), class: 'dropdown-item' %>
      </li>             
      <li>
        <%= link_to 'Decreasing Price', sneakers_path({'sort-by': 'decreasing_price'}), class: 'dropdown-item' %>
      </li>
      <li>
        <%= link_to 'Release Date', sneakers_path({'sort-by': 'release_date'}), class: 'dropdown-item' %>
      </li>
      
    </ul>
  </div>
</div>

<section class="d-flex flex-column secondary-bg container-fluid py-1">
  <%= render @sneakers %>
</section>
<div class="container-fluid pt-2">
  <div class="col-12">
    <%== pagy_bootstrap_nav(@pagy) %>
  </div>
</div>