<section class="container-fluid text-capitalize p-md-0 ">
  <nav class="my-3" style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
    <ol class="breadcrumb mb-0 text-center d-flex justify-content-center">
      <li class="breadcrumb-item">
        <%= link_to 'Home', root_path, class: "text-decoration-none text-black-50" %>
      </li>
      <li class="breadcrumb-item">
        <%= link_to 'Sneakers', :back, class: "text-decoration-none text-black-50" %>
      </li>
      <li class="breadcrumb-item active" aria-current="page">
        <%= @sneaker.id %>
      </li>
    </ol>
  </nav>
  <article class="d-flex flex-column align-items-center justify-content-around flex-lg-row flex-lg-wrap secondary-bg p-2">
    <div class="bg-white col-12 col-lg-4 rounded-3">
      <%= image_tag @sneaker.image_url, alt: @sneaker.title, class: "img-fluid m-auto rounded-3" %>
    </div>
    <div class="col-12 col-lg-4 d-lg-flex flex-lg-column justify-content-lg-between">
      <h6 class="primary-font-size mt-2"><%= @sneaker.title %></h6>
      <div class="">
        <p class="py-lg-3">
          <span class="inline-block fw-bold">$<%= @sneaker.price %></span>
        </p>
        <p class="py-lg-2">
          <span>Brand:</span>
          <span class="inline-block ms-2"><%= @sneaker.brand.name %></span>
        </p>
        <p class="py-lg-2">
          <span>Gender:</span>
          <span class="inline-block ms-2"><%= @sneaker.gender.name %></span>
        </p>
        <p class="py-lg-2">
          <span>Release:</span>
          <span class="inline-block ms-2"><%= @sneaker.release_date.strftime('%a %d %b %Y') %></span>
        </p>
        
      </div>
      <div class="d-flex flex-column justify-content-between flex-sm-row py-2 ">
        <%= button_to order_items_path(sneaker_id: @sneaker.id), class: "w-100 btn bg-dark text-light my-1 primary-font-size" do %>
          <span>Add to Cart</span>
        <% end %>
        <%= button_to orders_path(sneaker_id: @sneaker.id), class: "w-100 btn bg-black text-light my-1 primary-font-size" do %>
          <span>
            Checkout Sneaker
          </span>
        <% end %>
      </div>
    </div>
  </article>

</section>