<section class="container-fluid text-capitalize p-0">
  <nav class="my-3" style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
    <ol class="breadcrumb mb-0 text-center d-flex justify-content-center">
      <li class="breadcrumb-item">
        <%= link_to 'Home', root_path, class: "text-decoration-none text-black-50" %>
      </li>
      <li class="breadcrumb-item">
        <%= link_to 'Sneakers', :back, class: "text-decoration-none text-black-50" %>
      </li>
      <li class="breadcrumb-item active" aria-current="page">
        <%= @sneaker.id %>
      </li>
    </ol>
  </nav>
  <article class="d-flex flex-column flex-lg-row flex-lg-wrap secondary-bg p-2">
    <div class="bg-white col col-lg-6">
      <%= image_tag @sneaker.image_url, alt: @sneaker.title, class: "img-fluid" %>
    </div>
    <div class="col ps-2 d-lg-flex flex-lg-column justify-content-lg-between">
      <h6 class="primary-font-size mt-2"><%= @sneaker.title %></h6>
      <div class="px-2 py-3 py-lg-2 col col-6">
        <p class="py-lg-3">
          <span class="inline-block fw-bold">$<%= @sneaker.price %></span>
        </p>
        <p class="py-lg-2">
          <span>Brand:</span>
          <span class="inline-block ms-2"><%= @sneaker.brand.name %></span>
        </p>
        <p class="py-lg-2">
          <span>Gender:</span>
          <span class="inline-block ms-2"><%= @sneaker.gender.name %></span>
        </p>
        <p class="py-lg-2">
          <span>Release:</span>
          <span class="inline-block ms-2"><%= @sneaker.release_date.strftime('%a %d %b %Y') %></span>
        </p>
        
      </div>
      <div class="d-flex flex-column flex-md-row justify-content-md-between col-12 py-2">
        <%= link_to order_items_path(sneaker_id: @sneaker.id), method: 'post', class: 'col-md-5' do %>
          <button class="btn bg-dark text-light my-1 w-100 primary-font-size">
            <span>Add to Cart</span>
            <span><i class="bi bi-plus"></i></span>
          </button>
        <% end %>
        <%= link_to orders_path(sneaker_id: @sneaker.id), method: 'post', class: 'col-md-5' do %>
          <button class="btn bg-black text-light my-1 w-100 primary-font-size">
            Buy it Now
          </button>
        <% end %>
      </div>
    </div>
  </article>

</section>