<!DOCTYPE html>
<html>
  <head>
    <title>SneakersHub</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbo-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbo-track': 'reload'  %>
    <%= javascript_pack_tag 'application', 'data-turbo-track': 'reload' %>

  </head>

  <body class="container p-0 m-0 mw-100 primary-font-size">
    <%= render 'navbar/nav_menu' %>
    <%= yield %>
  </body>
</html>
