<!DOCTYPE html>
<html>
  <head>
    <title>SneakersHub</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbo-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbo-track': 'reload'  %>
    <%= javascript_pack_tag 'application', 'data-turbo-track': 'reload' %>

  </head>

  <body class="container p-0 m-0">
    <%= turbo_frame_tag 'alert' do %>
      <%= render partial: 'shared/alert' %>
    <% end %>
    <%= turbo_frame_tag 'notice' do %>
      <%= render partial: 'shared/notice' %>
    <% end %>
    <%= render 'navbar/nav_menu' %>
    <%= render 'users/signup_login' %>
    <%= yield %>
  </body>
</html>
